:root {
    --primary-color: #131313;
    --secondary-color: #FFC247;
    --text-color: #333333;
    --text-color-light: white;
    --text-color-green: #34C759;
    --background-color-light: #EDEDF1;
    --background-color-dark: #D9D9D9;
    --background-color-white: #ffffff;
    --background-color-blue: #4335DE;
    --button-background-orange: #FF8D28;
    --button-background-orange-disabled: #ff8c2882;
    --border-color-orange: 1px solid #FFC247;
    --border-color-grey: 1px solid #CCCCCC;
    --font-family: 'Inter', sans-serif;
    --border-radius: 8px;
}

    body {
      background-color: #000000;
      padding-top: 20px;
    }
    .card {
      color: black;
      padding: 15px;
      margin-bottom: 20px;
      /* width: 90%; */
      /* max-width: 800px; */
     
    }
    .solded{
      cursor: pointer;
    }
    .points {
      text-align: center;
      margin-bottom: 8px;
      cursor: pointer;
      
    }
      .point2 {
      height: 16px;
      width: 16px;
      background-color: orange;
      border-radius: 5px;
      display: inline-block;
    }
    .point1 {
      height: 16px;
      width: 16px;
      background-color: orange;
      border-radius: 5px;
      display: inline-block;
    }
    .icon {
      font-size: 18px;
      cursor: pointer;
    }
  
