@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);


:root {
    --primary-color: #131313;
    --secondary-color: #FFC247;
    --text-color: #333333;
    --text-color-light: white;
    --text-color-success: #34C759;
    --background-color-light: #F6F6F3;
    --background-color-dark: #D9D9D9;
    --background-color-white: #ffffff;
    --background-color-blue: #4335DE;
    --background-color-blue-black: #02033B;
    --button-background-orange: #FF8D28;
    --button-background-orange-disabled: #ff8c2882;
    --border-color-orange: 1px solid #FFC247;
    --border-color-grey: 1px solid #CCCCCC;
    --font-family: 'Inter', sans-serif;
    --border-color-error: 1px solid red;
    --border-color-success: 1px solid #34C759;
    --border-radius: 16px;
}

.background-blue {
    background-color: var(--background-color-blue);
}
.background-orange {
    background-color: var(--button-background-orange);
}
body{
    width: 100%;
}
.border-1 {
    border: var(--border-color-grey);
    border-radius: var(--border-radius);
    outline: none;
    padding: 10px;
    margin-bottom: 15px;
}

.border-top-right-radius-200 {
    border-top-right-radius: 200px;

    @media screen {
        @media (max-width: 768px) {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 200px;
        }
    }
}

.btr-radius-100 {
    border-top-right-radius: 100px;
}

.bbl-radius-100 {
    border-bottom-left-radius: 100px;
    @media screen {
        @media (max-width: 768px) {
            border-bottom-left-radius: 0px;
            border-top-left-radius: 100px;
        }
    }
}


.background-light {
    background-color: var(--background-color-light);
}

.button-background-orange {
    background-color: var(--button-background-orange);
    color: var(--text-color-light);
}


.message-error-border {
    border: var(--border-color-error);
}

.message-success-border {
    border: var(--border-color-success);
}
.bg-bleu-dark{
    background-color: var(--background-color-blue-black);
}
.text-bleu-dark{
    color: var(--background-color-blue-black);
}

.border-1-left-0{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.border-1-right-0{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}